@font-face {
	font-family: "Copperplate";
	src:
		url("../Fonts/CP31C01.ttf") format("woff"),
		url("../Fonts/CP31C01.ttf") format("opentype"),
		url("../Fonts/CP31C01.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Copperplate-Viethoa";
	src:
		url("../Fonts/UTM-CopperplateB.ttf") format("woff"),
		url("../Fonts/UTM-CopperplateB.ttf") format("opentype"),
		url("../Fonts/UTM-CopperplateB.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
  
}

div, img, button, textarea, iframe, select, option, input, label, video, svg, text {
	position:absolute;
	margin:auto;
}

video {
	position:absolute;
	margin:auto;
	top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

p {
	margin:auto;
	position:absolute;
}

table {
	margin:auto;
	position:absolute;
  padding:0px;
}